* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 54%, 90%);
    padding: 10px;
  }

  .container{
    background-color: hsl(0, 0%, 100%);
    padding: 3rem;
    margin: 6rem auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  img{
    border-radius: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .content{
    max-width: 590.4px;
    text-align: left;
    font-family: "Inter", serif;
  }
  
  section{
    margin-bottom: 20px;
  }

  h1,h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  h2{
    color: hsl(14, 45%, 36%);
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  ul,li{
    list-style-position: inside;
  }
  
  .preparationTime{
    background-color: hsl(330, 100%, 98%);
    
    h2{
      color: hsl(332, 51%, 32%);
      font-family: "Inter", serif;
      font-weight: 700;
      font-size: 18px;
    }
    padding: 1.5rem 1.5rem;   
    border-radius: 1rem;
  }

  .preparationTime li::marker{
    color: hsl(332, 51%, 32%);
  }
  
  .content li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
  }
  

  
  