* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root{
    --background-color: hsl(0, 0%, 100%);

    --body-background: hsl(30, 54%, 90%);
    --lines-color: hsl(30, 10%, 34%);
    --main-font: hsl(24, 5%, 18%);


    /* --headers is a colour of markers too */
    --headers: hsl(14, 45%, 36%);

    /* --preparationTime-header changes colour of bullets within class too */
    --preparationTime-header: hsl(332, 51%, 32%); 
    --preparationTime-background: hsl(330, 100%, 98%);
  }
  
  body{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--body-background);
    padding: 10px;
    font-family: "Inter", serif;
  }

  .container{
    background-color: var(--background-color);
    color: var(--main-font);
    padding: 2rem;
    margin: 6rem auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img{
    border-radius: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .content{
    max-width: 678.5px;
    text-align: left;
    font-family: "Inter", serif;
    line-height: 1.5rem;
  }
  
  section{
    margin-bottom: 20px;
  }

  hr{
    height: 1px;
    margin: 2rem 0.1rem;
    color: var(--lines-color);
  }
  
  h1,h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 2.25rem;
    margin-bottom: 15px;
  }

  .brown{
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: var(--headers);  
    font-weight: bold;
  }
  
  li{
    list-style-position: inside;
  }

  ul,ol{
    padding-left: 20px;
    text-indent: -20px;
  }

  .preparationTime{
    background-color: var(--preparationTime-background);
    font-family: Outfit, serif;
    h2{
        color: var(--preparationTime-header);
        font-family: "Inter", serif;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
      }
    line-height: 1.5rem;
    padding: 1.5rem 1.5rem;   
    border-radius: 1rem;
  }

  .preparationTime li::marker{
    color: var(--preparationTime-header);
  }
  
  .content li::marker{
    color: var(--headers);
    font-weight: bold;
  }

  .table{
    width: 100%;
  }

  .table caption{
    text-align: left;
    margin-bottom: 15px;
  }
  
  table{
    border-collapse: collapse; 
  }

  .table tr:last-child{
    border-bottom: none;
  }

  .table td:last-child{
    font-size: 1rem;
  }
  
  tr{
    border-bottom: 1px solid black;
    border-color: var(--lines-color);  
  }

  td{ 
    padding: 15px;
    padding-left: 25px;
    
  }

  @media screen and (max-width: 742.5px){
    body{
      padding: 0;
      transition: ease 0.75s;
    }

    .container{
      max-width: 100%;
      margin: 0;
      border-radius: 0%;
    }

    img{
      width: 100%;
      height: auto;
    } 
  }


  
  